<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- 1) Na succesvolle bestelling (checkout) -->
    <event name="checkout_submit_all_after">
        <observer name="prtct_subscription_created"
                  instance="Prtct\Provisioning\Observer\SubscriptionCreated"/>
    </event>

    <!-- 2) Direct na sales_order_place_after (alternatieve provisioning) -->
    <!-- <event name="sales_order_place_after">
        <observer name="prtct_provision_order"
                  instance="Prtct\Provisioning\Observer\ProvisionOrderObserver"/>
    </event> -->

    <!-- 3) Mollie-renewal webhook -->
    <event name="prtct_provisioning_subscription_renew">
        <observer name="prtct_provision_renewal"
                  instance="Prtct\Provisioning\Observer\ProvisionSubscriptionObserver"/>
    </event>

    <!-- 4) Mollie-cancel webhook -->
    <event name="prtct_provisioning_subscription_cancel">
        <observer name="prtct_provision_cancellation"
                  instance="Prtct\Provisioning\Observer\DeactivateSubscriptionObserver"/>
    </event>
</config>
<!--
    Dit bestand definieert de events en observers voor de provisioning functionaliteit.
    Het bevat vier belangrijke events:
    1) checkout_submit_all_after: Triggered na een succesvolle bestelling.
    2) sales_order_place_after: Triggered direct na het plaatsen van een order.
    3) prtct_provisioning_subscription_renew: Triggered bij een Mollie-renewal webhook.
    4) prtct_provisioning_subscription_cancel: Triggered bij een Mollie-cancel webhook.