<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="prtct_provisioning"
                 translate="label"
                 type="text"
                 sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PRTCT Provisioning</label>
            <tab>general</tab>
            <resource>Magento_Backend::admin</resource>

            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Algemeen</label> 

                <field id="api_url"
                       translate="label"
                       type="text"
                       sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <!-- wordt door Magento automatisch weggeschreven in de database­-tabel core_config_data -->
                    <label>API URL</label>
                    <!-- <validate>required-entry</validate> -->
                </field>

                <field id="api_key"
                       translate="label"
                       type="obscure"
                       sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <!-- wordt door Magento automatisch weggeschreven in de database­-tabel core_config_data -->
                    <label>API Key</label>
                    <!-- <validate>required-entry</validate> -->
                </field>

            </group>
        </section>
    </system>
</config>
